body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
}

a:hover,
button:hover{
  cursor:pointer;
}


a {
  text-decoration: none;
}

.main-container{
  width: 1200px;
  /*height: 2762px;*/
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  margin: 0 auto;
  background-color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

h3 {
  font-size: 21px;
  line-height: 26px;
}

.site-navigation {
  list-style: none;	
}

.lh-26px{
  line-height: 26px;
}

.site-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.site-navigation{
  display: flex;
  
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
  margin: 0px;
  
}

.site-navigation li {
display: flex;
outline: 1px solid #666;
flex-basis: 239px;
align-items: center;
justify-content: center;
height: 56px; /*если без высоты - рисует с заданными в макете внутренними отступами 79px.
высота строки 26, по 22 внутр. отступы, итого высота li на 9px больше, чем нужно и лого не выходит за пределы контейнера*/
}
.site-navigation
.main-header-logo {
  flex-basis: 244px;
  display: block;
  z-index: 5;
}

.blue-back,
.button-blue {
  background-color: #81b3d2;
}

.main-navigation a:active{
  color: rgba(0, 0, 0, 0.3);
}

.button-blue:hover,
.button-blue:focus,
.footer-social a:hover, 
.footer-social a:focus {
  background-color: #669ec0;
}

.footer-social a:active, 
.button-blue:active {
  background-color: #5496bd;

}

/*.cover{
  width:280px;
  height: 146px;
  margin: 0px;
}*/

.blue-back p{
  /*margin: 0px;*/
}
.white-text {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.blue-back .bold {
  font-size: 21px;
  color: #ffffff;
}

.blue-back {
  color: #ffffff;
  /*width: 280px;*/
  /*height: 256px;*/
  /*padding: 43px 60px 61px;*/
}

.inner-grid{
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  flex-wrap: wrap;
  outline: 1px dashed #666;
}

.button-brown {
  
  background-color: #766357;
}
.big-button-brown {
  width: 568px;
  height: 86px;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.small-button-brown,
.small-button-blue{
  width: 142px;
  height: 27px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.button-brown:hover{
  background-color: #604e43;
}

.button-brown:active{
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}


.welcome-banner{
  text-align: center;
  width: 1200px;
  height: 508px;
  background-color: #5496bd;
  
  background-image: url(../img/welcome.svg), url(../img/polygon.png), url(../img/background-photo.jpg);
  background-size: 40%, 100%, 100%;
  background-position: center, bottom, top;

  border: 1px solid red;
  position: relative;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.bold{
  color:#000000;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
}

.grey-back{
  background-color: #eeeeee;
}

.white-back{
  background-color: #ffffff;
}

.input-back-wide{
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  
}

.form-decor {
  display: inline-block;
  border: 1px solid red;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  line-height: 26px;
  font-weight: 700;
  color:#000000;
  
  
}

.grid-item{
  
  width: 280px;
  padding: 43px 60px 61px;
  
}

.content-image{
  width: 800px;
  /*height: 256px;*/
  display: flex;
  /*outline: 1px solid red;*/
  margin: 0px;
  padding: 0px;
}

.grid-item .content-image{
  width: 800px;
  height: 256px;
}

.big-button-blue{
  width: 458px;
  height: 58px;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.small-button-blue{
  width: 110px;
  height: 27px;
}

.not-visible{
  display: none;
}

.pseudo-header{
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
  
}

.pseudo-header+.ordinary-text { 
  line-height: 24px;
}

.interactive {
  text-align: center;
  
}

.map form{
  padding: 55px;
  border: solid 1px red;
  /*width: 568px;*/
  margin: 0 316px;
  
  position: absolute;
  z-index: 15;
  background-color: #ffffff;

}
.form-decor input {
  color:#000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  width: 346px;
  /*height: 38px;*/
  padding-left: 13px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 29px;
}

.number input{
  width: 38px;
  padding-left: 0px;
  text-align: center;
}

.number button{
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

/*.htmla-link{
  
  width: 115px; 
  height: 41px;
  mask-image: url('img/logo-htmla.svg');
  background-color: #231f20;
}*/

.sortby{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 72px;
  margin-right: 72px;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
}
.sortby li,
.catalog li{
  list-style: none;
}

.sortby li {
  display: inline-block;
  margin-left: 33px;
  text-align: start;
  
}
.sortby ul{
  text-align: start;
  padding-left: 0px;
}

.sortby span {
  margin-left: 49px;
}
.sortby a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration-line: underline;
  text-decoration-color: #81b3d2;
  text-decoration-style: dashed;
}
.sortby a:hover,
.sortby a:focus {
  color:#81b3d2;
}
.sortby a:active {
  color: #000000;
  text-decoration: none;
}

 .arrow {
  text-align: end;
  margin-left: auto;
  
}

.arrow-up,
.arrow-down{
  fill: #cacaca;
}
.arrow-up:hover,
.arrow-down:hover,
.arrow-up:focus,
.arrow-down:focus {
  fill: #231F20;
}
.arrow-up:active,
.arrow-down:active{
  fill: #81b3d2;
}
.arrow .rotate{
  transform: rotate(180deg);
  margin-left: 12px;
}
.catalog-item{
  padding: 30px 73px 30px 72px;
}

.catalog-item a{
  color:#000000;
}

.catalog-item-image{
  margin: 0px;
}

.description{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 258px;
  margin-top: 0px;
 
  margin-right: 450px;
  margin-left: 30px;
}

.description a {
  margin-bottom: 0px;
  display: inline-block;
}

.description h3{
  margin: 0px;
}

.description
.ordinary-text {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 18px;
  margin-top: 0px;

}

.rating{
  text-align: end;
  margin-left: auto;

}

.column {
  display: flex;
  width: 142px;
  flex-direction: column;
  align-items:  flex-start;
  justify-content: flex-start;
}

.column:first-child{
  margin-right: 6px;
}

.column button{
  padding: 0px;
}
.table{
  display: flex;
  width: 180px;
  flex-direction: row;
  align-items:  flex-start;
  justify-content: flex-start;
}

.catalog ul{
  padding-left: 0px;
}

.catalog li{
  display: flex;
  outline: 1px solid blue;
  flex-direction: row;
  flex-wrap: wrap;
}

.rating-back{
  width: 110px;
  height: 27px;
  background-color:#f2f2f2;
  color: #666666;
  font-weight: 400;
  padding: 5px 13px 6px 16px;
}

.semi-transparency{
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.9;
  z-index: 5;
}

.footer-social{
  display: inline-block;
  width: 150px;
 
}

.footer-social ul{
  display: flex;
  flex-direction: row;
}
/*
.icon-back li{
  display: inline-block;
  vertical-align: middle;
  
}
.icon-back img {
  align-content: center;
  vertical-align: middle;
  display: inline-block;
}

.icon-back {
  margin: 0px;
  display: flex;
  padding: 0px;
  justify-content: space-around;
}
*/

.footer-social a{
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: inline-block;
}

.twitter{
  background-image: url('../img/tw-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.facebook{
  background-image: url('../img/fb-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.youtube{
  background-image: url('../img/youtube-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}



.footer-contacts{
  text-align: left;
  text-decoration: none; /*в Edge всё равно подчёркивает телефон, как ссылку и выделяет синим */
}

.footer-copyright{
  display: flex;
  align-items: center;
}
.footer-copyright b{
  margin-right: 10px;
}

.htmla-cprght {
  fill: #231f20;
}

.htmla-link:hover .htmla-cprght,
.htmla-link:focus .htmla-cprght {
  fill: #81b3d2;
}

.htmla-cprght:active{
  fill: #bdbbbc;
}

.filter {
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  width: 1054px;
  /*height: 273px; */
  background-position: center;
  display: flex;
  vertical-align: top;
  border: solid 2px #ffffff;
  padding: 31px 74px 35px 72px;
  justify-content: space-between;
}
.filter legend{
  line-height: 21px;
  font-size: 16px;
  font-weight: 700;
  
}


.filter fieldset{
  border: none;
  /*display: inline-block;*/
  text-align: left;
  vertical-align: top;
  padding: 0px;
  margin: 0 0;
  width: 139px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.filter button{
  /*background: #fff; /* запасной цвет для старых браузеров */
  background-color: transparent;
  /* rgba(255, 255, 255, 0.1);*/
  border-radius: 3px;
  margin: 0 auto;
  
  
}

input[type="checkbox"] {
  display: none;
 }


 .filter input[type="checkbox"]~span {
  /*content: " ";*/
  display: inline-block;
  width: 27px;
  height: 23px;
  vertical-align: bottom;
  background-image: url(../img/checkbox-off.png);
  background-repeat: no-repeat;
}

.filter input[type="checkbox"]:checked~span {
  /*content: " ";*/
  /*display: inline-block;
  width: 27px;
  height: 23px;
  vertical-align: bottom;*/
  background-image: url(../img/checkbox-on.png);
  /*background-repeat: no-repeat;*/
}



/*input[type="checkbox"] {
  display: none;
 }


.filter label::after {
  content: " ";
  display: inline-block;
  width: 27px;
  height: 23px;
  vertical-align: bottom;
  
  }

  /*label::after{
  content: " ";
  background-image: url(../img/checkbox-on.png);
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  vertical-align: bottom;
}*/

/*label:after+input:checked {
  content: " ";
  background-image: url(../img/checkbox-off.png);
  background-repeat: no-repeat;
}
/*input[type="checkbox"]:disabled{
  background-image: url(../img/checkbox-off.png);
  background-repeat: no-repeat;*/
  /*.filter input[type="checkbox"]:checked{
    display: inline-block;
    background-image: url(../img/checkbox-on.png);
    width: 27px;
    height: 23px;
    background-repeat: no-repeat;
    vertical-align: bottom;
   }*/

   /*.field-group{
  width: 139px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}*/

.wide {
  width: 314px;
}

.field-group div{
  width: 314px; 
  outline: solid white 1px;
  margin-top: 13px;
  display: flex;
}

.field-group .range-to,
.field-group .range-from {
  margin: 0px;
  padding: 0px;
  width: 157px;
  text-align: center;
  display: inline-block;
}
.range-from p{
  margin: 11px 0;
}

#range-value {
  width: 317px;
  margin-top: 13px;
  margin-bottom: 50px;

}

/*Выравниваю лейблы к инпутам в форме фильтрации.
Есть подозрение, что это обычный justify-content: space-between,
но он почему-то не работает((*/

.filter fieldset:nth-child(1) legend,
.filter fieldset:nth-child(1) label{
 margin-bottom: 36px;
}

.filter fieldset:nth-child(2) legend,
.filter fieldset:nth-child(2) label{
 margin-bottom: 36px;
}

.filter fieldset:nth-child(1) label:last-child,
.filter fieldset:nth-child(2) label:last-child {
 margin-bottom: 0px;
}

.form-button {
  width: 133px;
  height: 32px;
  }

.four-stars{
  display: inline-block;
  width: 87px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space no-repeat;
  background-size: 18px 17px;
  }

  .three-stars{
  display: inline-block;
  width: 64px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space no-repeat;
  background-size: 18px 17px;
}

.two-stars{
  display: inline-block;
  width: 41px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space no-repeat;
  background-size: 18px 17px;
}